@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.para-clr{
    color: rgba(98, 115, 130, 1);
}
.txt-clr{
    color: rgba(98, 115, 130, 1);
}
.primary-button{
    padding: 10px 20px;
    background-color:rgba(70, 145, 101, 1);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn{
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center;     /* Vertically center */
    /* height: 100vh;           Parent div এর উচ্চতা (Optional) */
}
.primary-button img{
    margin-left: 10px;
    width: 20px;
    height: 20px;
}


.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 80%;
    margin: 0 auto;

   

}
.nav-links{
    display: flex;
    list-style: none;
    text-decoration: none;
    gap: 20px;
}
.nav-links li a{
    text-decoration: none;
    color: black;
    /* font-weight: bold; */
}

.access-div{
    display:flex ;
    justify-content: center;
}

.banner{
    background-image: url(..//assets/hero-bg.png);
    background-size: cover;
    background-position: center;
}
.hero-header{
    margin-top: 0px; 
    margin-bottom: 10px;   
    font-size: 60px;
    font-weight:800;
}
.hero-style{
    color: rgba(70, 145, 101, 1);
}
.intro{
    width: 770px;
    margin:0 auto;
    padding: 180px 120px;
    text-align: center;
    
}
.access-btn{
    padding: 10px 20px;
    background-color:rgba(255, 255, 255, 1);
    color:rgba(70, 145, 101, 1);
    border: none;
    border-radius: 1000px;
    cursor: pointer;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.hero-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px
}
.button{

    padding:10px 20px;
    border-radius: 5px;
    /* color:rgba(70, 145, 101, 1); */
    border: 1px solid rgb(218, 225, 221);
    gap: 20px;
    
}
main{
    width: 1360px;
    margin: 100px auto;
}
.notes{
    text-align: center;
}
.notes-header{
    font-size: 48px;
    font-weight: 700;
}

.cards{
    display: flex;
    justify-content:space-around;
    gap: 24px;
    margin-top: 50px;

}
.cards div h2{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 600;
}
.card-1, .card-2, .card-3, .card-4{
    text-align: center;
    /* width: 370px; */
    padding: 50px 20px 20px 20px;
    /* border: 1px solid rgba(200, 200, 200, 0.5); */
    box-shadow:0 0 8px 0 rgba(0, 0, 0, 0.06);
}

.card-1 img, .card-2 img, .card-3 img, .card-4 img{
    background-color: rgba(249, 85, 85, 1);
    border-radius: 50%;
    padding: 20px;
    }

    /* desing section */
    .design{
    /* width: 1360px;
    margin: 100px auto; */
    margin-top: 100px;
    }
    .design-info{
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 60px;
    }
.design-content > h5{
    text-transform:uppercase ;
    color: rgba(70, 145, 101, 1);
}
.design-content > h1{
    /* width: 50%; */
    font-size: 48px;
    font-weight: 700;
    margin-top: 10px;
    
}
.design-content > p{
    width:65%;
    
}
.point img{
    width:16px;
    height: 16px;

}
/* access section */
.access {
    /* width: 1360px;
    margin: 100px auto; */
    margin-top: 100px;
    gap : 30px;
    text-align: center;
    background-color: rgba(247, 246, 242, 1);
    padding: 60px 0;
}
.access-header{
    font-size: 48px;
    font-weight: 700;
    margin-top: 0px;
    
}

/* footer styles */
footer {
    background-color: rgba(0, 25, 49, 1);
    padding: 40px 0;
    color: white;
    height: 340px;
}

.footer-content,hr {
    width: 80%;
    margin: 80px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.footer-logo img {
    width: 150px;
}

.footer-links h4 {
    font-size: 20px;
    margin-bottom:10px;
}

.footer-links a {
    text-decoration: none;
}
.social-icons a{
    color: white;
    margin-right: 15px;
    font-size: 20px;
    text-decoration: none;
}
.footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: rgba(150, 150, 150, 1);
}
